body{
  background: url(../images/BackgroundNoDog.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      text-align:  center;
}

.loginform{
  text-align: center;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "form1 form2";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  text-align: center;
}

header {
  text-align: center;
  color: #000000;
  padding: auto;
}

form {
     padding: 10px;
    flex-direction: column;
    align-items: center;
    font-size: large;
  }

  table {
    font-size: 1.2em;
    line-height: 1.5em;
    border: #8d5d14;
    border-style:solid;
    text-align: center;
    margin: 0 auto; /* center the table horizontally */

  }

  #form1 {
  grid-area: form1;
  }

  #form2 {
  grid-area: form2;
  }

  #form1, #form2, #form3{
    display: none;
    text-align: left;
    margin-top: 20px;
    
  }

  #buttonAddDog{
    background-color: #8d5d14; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }
 

  button {
    background-color: #8d5d14; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
   
  }
  button:hover {
    background-color: #3e8e41;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }

/* Style the dog image */
.dog-animation {
  position: absolute;
  bottom: 0;
  left: 30%;
  transform: translateX(-50%);
  width: 150px;
  height: auto;
}

/* Create the animation */
@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

/* Apply the animation to the dog image */
.dog-animation {
  animation: bounce 2s infinite;
}

#dogs{

  margin-left: 0;
  text-align: left;

}

