body{
  background: url(./images/BackgroundNoDog.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      
}


.loginform{
  text-align: center;
}

.container {

  display: grid;
  grid-template-areas:
    "header header"
    "form1 form2";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  text-align: center;
}

header {
  border-radius: 20px;
  text-align: center;
  grid-area: header;
  background-color:#3b3b3b;
  color: #000000;
  padding: auto;
}
#subheader{
  text-align: center;
  font-size: ;
}

form {
  padding: 10px;

}

  #form1 {
  grid-area: form1;
  }

  #form2 {
  grid-area: form2;
  }

  #form1, #form2, #form3{
    display: none;
    text-align: left;
    margin-top: 20px;
    
  }

  #buttonAddDog{
    background-color: #8d5d14; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }
 

  button {
    background-color: #8d5d14; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: #3e8e41;
  }
  
/* Show/hide forms on button click 

#show-form1:checked ~ .container form:nth-of-type(1),
#show-form2:checked ~ .container form:nth-of-type(2) {
visibility: visible;
    }
*/