<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" 
       content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
       <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doggysitter Availability</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer="" src="../static/js.js"> </script>
  </head>

  <body>
    <h1>Edit Availability:</h1>
    <form>
      <table>
        <tr>
          <th>Day</th>
          <th>Available Hours</th>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>
              <input type="checkbox" name="sunday" value="9am-12pm">9am-12pm<br>
              <input type="checkbox" name="sunday" value="12pm-3pm">12pm-3pm<br>
              <input type="checkbox" name="sunday" value="3pm-6pm">3pm-6pm<br>

        <tr>
          <td>Monday</td>
          <td>
            <input type="checkbox" name="monday" value="9am-12pm">9am-12pm<br>
            <input type="checkbox" name="monday" value="12pm-3pm">12pm-3pm<br>
            <input type="checkbox" name="monday" value="3pm-6pm">3pm-6pm<br>
          </td>
        </tr>
        <tr>

          <td>Tuesday</td>
          <td>
            <input type="checkbox" name="tuesday" value="9am-12pm">9am-12pm<br>
            <input type="checkbox" name="tuesday" value="12pm-3pm">12pm-3pm<br>
            <input type="checkbox" name="tuesday" value="3pm-6pm">3pm-6pm<br>
          </td>
        </tr>

        <tr>
          <td>Wednesday</td>
          <td>
            <input type="checkbox" name="wednesday" value="9am-12pm">9am-12pm<br>
            <input type="checkbox" name="wednesday" value="12pm-3pm">12pm-3pm<br>
            <input type="checkbox" name="wednesday" value="3pm-6pm">3pm-6pm<br>
          </td>
        </tr>

        <tr>
          <td>Thursday</td>
          <td>
            <input type="checkbox" name="thursday" value="9am-12pm">9am-12pm<br>
            <input type="checkbox" name="thursday" value="12pm-3pm">12pm-3pm<br>
            <input type="checkbox" name="thursday" value="3pm-6pm">3pm-6pm<br>
          </td>
        </tr>

        <tr>
          <td>Friday</td>
          <td>
            <input type="checkbox" name="friday" value="9am-12pm">9am-12pm<br>
            <input type="checkbox" name="friday" value="12pm-3pm">12pm-3pm<br>
            <input type="checkbox" name="friday" value="3pm-6pm">3pm-6pm<br>
          </td>
        </tr>

        <tr>
          <td>Saturday</td>
          <td>
            <input type="checkbox" name="saturday" value="9am-12pm">9am-12pm<br>
            <input type="checkbox" name="saturday" value="12pm-3pm">12pm-3pm<br>
            <input type="checkbox" name="saturday" value="3pm-6pm">3pm-6pm<br>
          </td>
        </tr>

    </table>
    <br><br>

    <button type="submit" value="submit">Save</button>
   
    </form>
    <footer>
        <p>&copy; 2023 Doggy-site</p>
      </footer>
    </body>

    </html>

