<!DOCTYPE html>

<head> 

    <link rel="stylesheet" href= "..static/CSS.css">

</head>

<body> 

    <table>
        <thead>
        <tr>
          <th> first </th>
          <th> second </th>
          <th> third </th>
        </tr>
        </thead>

        <tbody>
            <tr>  
                <td>1 </td>
                <td>1 </td>
                <td>1 </td>   
            </tr>
            <tr>  
                <td>2 </td>
                <td>2 </td>
                <td>2 </td>   
            </tr>
            <tr>  
                <td>3 </td>
                <td>3 </td>
                <td>3 </td>   
            </tr>


        </tbody>
       

    </table>

</body>