<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" 
     content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> Your sitting history:
	</title>
  <link rel="stylesheet" href="../public/static/style.css">
  <script defer="" src="../public/static/js.js"> </script>
  </head>

<body>
  <h1>History</h1>
< table>
    <thead>
      <tr>
        <th>Dog Owner Name</th>
        <th>Date and Time of Sitting</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>May 1, 2023 at 3:00 PM</td>
      </tr>
      <tr>
        <td>Jane Smith</td>
        <td>May 2, 2023 at 9:00 AM</td>
      </tr>
      <tr>
        <td>Bob Johnson</td>
        <td>May 3, 2023 at 1:00 PM</td>
      </tr>
    </tbody>
  </table>
  
  <footer>
    <p>&copy; 2023 Doggy-site</p>
  </footer>
</body>
</html>


