<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" 
     content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="../public/static/style.css">
     <script defer="" src="../public/static/js.js"> </script>
  <title>Homepage</title>
</head>

<body>
  <h1>Doggy-Site</h1>
  <button> 
    <a href="profile-doggysitter.html" >Profile</a>
  </button>
    <br>
    <button>
    <a href="history-doggysitter.html" >History</a>
  </button>
  <br>
    <button>
        <a href="availability.html">Edit availability</a>
      </button>
      <br>

          <button type="button" class="about-us-button">About</button>
          <br><br>
          <input type="text" id="myTextbox" style="display:none;">
  
          <footer>
            <p>&copy; 2023 Doggy-site</p>
          </footer>
</body>
</html>