<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" 
       content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
       <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Edit Your Doggy-Sitter Profile!
	</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer="" src="../static/js.js"> </script>

</head>

<body>
	<h1>Edit Profile</h1>
	<form>
		<label for="full-name">Full Name:</label>
		<input type="text" id="full-name" name="full-name" placeholder="Enter full name" required><br><br>
	
		<label for="phone">Phone:</label>
		<input type="text" id="phone" name="phone" placeholder="Enter phone number" required><br><br>
	
		<label for="email">Email:</label>
		<input type="text" id="email" name="email" placeholder="Enter email address" required><br><br>
	
		<label for="area">Area:</label>
		<select id="area" name="area" required>
			<option value="">Choose an area</option>
			<option value="Northern district">Northern district</option>
			<option value="Central district">Central district</option>
			<option value="Southern district">Southern district</option>
		</select><br><br>
	
		<label for="about-me">About Me:</label>
		<textarea id="about-me" name="about-me" placeholder="Enter information about yourself" minlength="50" required></textarea><br><br>
	
		<button type="submit" value="Save Changes">Save Changes</button>
		<button class="cancel-button" onclick="window.location.href='http://localhost:3000/profile-doggysitter'">Cancel</button>
	</form>
	
    <footer>
		<p>&copy; 2023 Doggy-site</p>
	</footer>
</body>
</html>