<!DOCTYPE html>
<html lang="en">
	
<head>
	<meta charset="UTF-8">
    <meta name="viewport" 
       content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
       <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Client Profile</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer="" src="../static/js.js"> </script>
</head>
<body>
    
    <h1>Client Profile</h1>
	<div class="profile-card">
        <img class="profile-picture" src="./images/dogowner.jpg" alt="Profile Picture">
        <p class="label">Full Name:</p>
        <p>Joanna Doe</p>
        <br>
        <p class="label">Phone:</p>
        <p>050-555-1234</p>
        <br>
        <p class="label">Email:</p>
        <p>Joji122@gmail.com</p>
        <br>
        <p class="label">Address:</p>
        <p>King Shaul 1 ,Tel Aviv</p>
        <br>

</div>

	<h2>Dog Details</h2>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Breed</th>
				<th>Age</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Rusty</td>
				<td>Golden Retriever</td>
				<td>5 years</td>
			</tr>
			<tr>
				<td>Buddy</td>
				<td>Labrador Retriever</td>
				<td>3 years</td>
			</tr>
		</tbody>
	</table>
	<br>
	<a href="http://localhost:8080/profile-edit-client"><button class="edit-button">Edit Profile </button> </a>
    <footer>
        <p>&copy; 2023 Doggy-site</p>
    </footer>
</body>
</html>