<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" 
     content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration</title>
  <link rel="stylesheet" href="../static/style.css">
  <script defer="" src="../static/js.js"> </script>
</head>

<body>
 
  <h1> Registration </h1>
  
  <button onclick="openForm1()">I have a dog!</button>
  <button onclick="openForm2()">I am a doggysitter!</button>

  <form id="form1"  action="/Create_DogOwner" method="post" enctype="multipart/form-data"></form>>
    
    <label for="full_name">Full name:</label>
    <input type="text" id="full_name" name="full_name" required pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$">
    <br>
    <br>
    <label for="phone_number">Phone number:</label>
    <input type="text" id="phone_number" name="phone_number" required pattern="^\d{10}$">
    <br>
    <br>
    <label for="password_owner">Password:</label>
    <input type="password" id="password_owner" name="password_owner"> 
    <br>
    <br>
    <label for="address">Address:</label>
    <input type="text" id="address" name="address"  required>
    <br>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
    <br>
    <br>
    <label for="dogs">Dogs:</label>
     <table id="dogs">
      <br>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Size</th>
        <th>Notes</th>
        <th>Picture</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" id="dog_name" name="dog_name" required pattern="^[a-zA-Z\-]{2,}$"></td>
        <td> <input type="text" id="dog_age" name="dog_age"  required min="1" max="20" pattern="^[1-9][0-9]?$|^20$"></td>
        <td><input type="text" id="dog_size" name="dog_size" required ></td>
        <td><input type="text" id="dog_notes" name="dog_notes" maxlength="200" pattern="^[a-zA-Z0-9\s]{1,200}$"></td>
        <td><input type="file" id="dog_pic" name="dog_pic"></td>
      </tr>
    </tbody>
  </table>
  
  <button type="button" onclick="addDog()">Add Dog</button>
  <br>
  <button type="submit" value="Submit">Submit</button>
 
</form>
  
 
  <form id="form2" action="/Create_DoggySitter" method="post" enctype="multipart/form-data">
  
    <label for="full_name_sitter">Full name:</label>
    <input type="text" id="full_name_sitter" name="full_name_sitter" required pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$">
    <br>
    <br>
    <label for="phone_number_sitter">Phone number:</label>
    <input type="text" id="phone_number_sitter" name="phone_number_sitter" required pattern="^\d{10}$">
    <br>
    <br>
    <label for="email_sitter">Email:</label>
    <input type="email" id="email_sitter" name="email_sitter" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"> 
    <br>
    <br>
    <label for="password_sitter">Password:</label>
    <input type="password" id="password_sitter" name="password_sitter"> 
    <br>
    <br>
    <label for="area">Area:</label>
    <select id="area" name="area">
      <option value="Northern district">Northern district</option>
      <option value="Central District">Central District</option>
      <option value="Southern District">Southern District</option>    
    </select>
    <br>
    <br>
    <label for="details_sitter">A little bit about myself:</label>
    <input type="text" id="details_sitter" name="details_sitter" required maxlength="200" pattern="^[a-zA-Z0-9\s]{1,200}$">
    <br>
    <br>
    <label for="sitter_pic">Picture:</label>
    <input type="file" id="sitter_pic" name="sitter_pic">
    <br>
    <br>

    <button type="submit" value="Submit">Submit</button>

  </form>
  
  <footer>
    <p>&copy; 2023 Doggy-site</p>
  </footer>
  </body>
  </html>
  
  